management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

      resilience4j:
        circuitbreaker:
          instances:
            STUDENT-SERVICE:
              failureRateThreshold: 50
              slidingWindowSize: 10
              waitDurationInOpenState: 10s

        timelimiter:
          instances:
            STUDENT-SERVICE:
              timeoutDuration: 2s
